<!doctype html>
<meta charset="utf-8">
<link rel="stylesheet" href="{{ '/static/style.css'|url }}">
<title>{% block title %}Welcome{% endblock %} — alt-metadata</title>
<body>
  <header>
    <h1>alt-metadata</h1>
    <nav>
		<ul>
		<li><a href="{{ '/' | url(alt='_primary') }}">EN</a></li>
		<li><a href="{{ '/' | url(alt='lt') }}">LT</a></li>
		</ul>
    </nav>
  </header>
  <div class="page">
    {% block body %}{% endblock %}
  </div>
  <footer>
    &copy; Copyright 2020 by Rimbas.
  </footer>
</body>
