{% extends "layout.html" %}
{% block title %}{{ this.title }}{% endblock %}
{% block body %}
	<h2>{{ this.title }}</h2>
	<h3>Page alt: {{ alt }}</h3>
	{{ this.body }}
	<div class="columns">
	{% for image in this.attachments.images %}
		{% set image_alt = site.get(image._path, alt=alt) %}
		<div>
			<img src="{{ image | url }}" alt="{{ image_alt.title }}"><br>
			<br>
			<b>Title: {{ image_alt.title }}</b><br>
			<span>Image alt: {{ image_alt.alt }}</span>
		</div>
	{% endfor %}
	</div>
{% endblock %}
